@import "susy";
@import "compass/reset";

.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}
/*Imported CSS backgrounds*/

.container{
    margin-top: 5%;
    width: 450px;
    height: 600px;
    border: 1px solid silver;
    border-radius: 15px;

	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;

	

}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:hover{
    box-shadow: 10px 5px 5px silver;
}

.top-screen{
	margin-top: 25px;
	border: 1px solid white;
	border-radius: 15px;
	width: 415px;
	height: 100px;
	background-color: white;
}

.key-container{
	width: 415px;
	border: 1px solid white;
	border-radius: 15px;
	height: 425px;

}